<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Daily Digest</title>
  <meta name="description" content="News Aggregator">
  <meta name="author" content="Sathya">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152981633-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-152981633-3');
  </script>

</head>

<body>
  <h1>Daily Digest</h1>
  <nav>
    <ul>
      <li class='journal' id='nyt' onclick="getArticles(this.id)">New York Times</li>
      <li class='journal' id='hbr' onclick="getArticles(this.id)">Harvard Business Review</li>
      <li class='journal' id='mit' onclick="getArticles(this.id)">MIT Tech Review</li>
      <li class='journal' id='econ' onclick="getArticles(this.id)">The Economist</li>
      <!-- <li class='journal' id='mck' onclick="getArticles(this.id)">Mckinsey Quarterly</li> -->
      <li class='journal' id='wsj' onclick="getArticles(this.id)">Wall Street Journal</li>
    </ul>
  </nav>
  <!-- <p id="disclaimer"><strong>Tired of paywalls?</strong> 1. Use this <a href="https://github.com/iamadamdev/bypass-paywalls-chrome">chrome extension</a> follow installation instructions. 2. If that doesn't work, try typing "outline.com/" and then pasting the url, or use <a href="https://chrome.google.com/webstore/detail/outliner-a-chrome-extensi/eegpjjnajnplmkigmoglgbgpibgkkepo?hl=en-GB">this extension.</a></p> -->
  <div id="articles"></div>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
